# 02 - M4 Example Model Evaluation

In [1]:
import pandas as pd
import numpy as np
from scalecast.util import metrics
import os

In [6]:
ready = (
    'Hourly',
    #'Daily',
    'Weekly',
    #'Monthly',
    #'Quarterly',
    'Yearly',
)

In [7]:
df_overall = pd.DataFrame(
    {
        'sMAPE':[13.564,12.669],
        'MASE':[1.912,1.666],
        'OWA':[1.0,0.903],
    },
    index = ['Naive2','ARIMA - Standard for Comp.'],
)

df_smape = pd.DataFrame(
    {
        'Hourly':[18.383],
        'Daily':[3.045],
        'Weekly':[9.161],
        'Monthly':[14.427],
        'Quarterly':[11.012],
        'Yearly':[16.342],
    },
    index = ['Naive2'],
)

df_mase = pd.DataFrame(
    {
        'Hourly':[2.395],
        'Daily':[3.278],
        'Weekly':[2.777],
        'Monthly':[1.063],
        'Quarterly':[1.371],
        'Yearly':[3.974],
    },
    index = ['Naive2'],
)

df_owa = pd.DataFrame(
    {
        'Hourly':[1],
        'Daily':[1],
        'Weekly':[1],
        'Monthly':[1],
        'Quarterly':[1],
        'Yearly':[1],
    },
    index = ['Naive2'],
)

In [8]:
mmap = {
    'Yearly':1,
    'Quarterly':4,
    'Monthly':12,
    'Weekly':1,
    'Daily':1,
    'Hourly':24,
}

info = pd.read_csv(
    'm4/M4-info.csv',
    index_col=0,
    parse_dates = ['StartingDate'],
    dayfirst=True,
)
train = {
    freq:pd.read_csv(
        f'm4/train/{freq}-train.csv',
        index_col=0,
    ) for freq in ready
}
test = {
    freq:pd.read_csv(
        f'm4/test/{freq}-test.csv',
        index_col=0,
    ) for freq in ready
}

In [9]:
for freq in ready:
    print(freq)
    template = pd.DataFrame(
        index=test[freq].index,
    )
    smapes = template.copy()
    mases = template.copy()
    for model_csv in os.listdir(os.path.join('M4/model_results',freq)):
        model = model_csv.split('.csv')[0]
        print(f'evaluating {model}')
        fcst = pd.read_csv(
            f'm4/model_results/{freq}/{model_csv}',
            index_col=0,
        )
        smapes[model] = [
            metrics.smape(
                test[freq].loc[i].dropna().to_list(),
                fcst.loc[i].dropna().to_list(),
            )*100 for i in fcst.index
        ]
        df_smape.loc[model,freq] = smapes[model].mean()
        
        mases[model] = [
            metrics.mase(
                test[freq].loc[i].dropna().to_list(),
                fcst.loc[i].dropna().to_list(),
                train[freq].loc[i].dropna(),
                m = mmap[freq],
            ) for i in fcst.index
        ]
        df_mase.loc[model,freq] = mases[model].mean()
    
    smapes.to_csv(f'M4/smape/{freq}.csv')
    mases.to_csv(f'M4/mase/{freq}.csv')

Hourly
Weekly

In [10]:
for freq in ready:
    for mod in smapes:
        df_owa.loc[mod,freq] = (
            df_smape.loc[mod,freq] / 
            df_smape.loc['Naive2',freq] + 
            df_mase.loc[mod,freq] /
            df_mase.loc['Naive2',freq]
        ) / 2
        
for mod in smapes:
    df_overall.loc[mod,'sMAPE'] = (
        df_smape.loc[
            mod,'Yearly'
        ] * 23_000 / 100_000 +
        df_smape.loc[
            mod,'Quarterly'
        ] * 24_000 / 100_000 +
        df_smape.loc[
            mod,'Monthly'
        ] * 48_000 / 100_000 +
        df_smape.loc[
            mod,'Weekly'
        ] * 359 / 100_000 +
        df_smape.loc[
            mod,'Daily'
        ] * 4_227 / 100_000 +
        df_smape.loc[
            mod,'Hourly'
        ] * 414 / 100_000
    )
    df_overall.loc[mod,'MASE'] = (
        df_mase.loc[
            mod,'Yearly'
        ] * 23_000 / 100_000 +
        df_mase.loc[
            mod,'Quarterly'
        ] * 24_000 / 100_000 +
        df_mase.loc[
            mod,'Monthly'
        ] * 48_000 / 100_000 +
        df_mase.loc[
            mod,'Weekly'
        ] * 359 / 100_000 +
        df_mase.loc[
            mod,'Daily'
        ] * 4_227 / 100_000 +
        df_mase.loc[
            mod,'Hourly'
        ] * 414 / 100_000
    )
        
df_smape['Avg'] = df_smape.mean(axis=1)
df_mase['Avg'] = df_mase.mean(axis=1)
df_owa['Avg'] = df_owa.mean(axis=1)

df_overall['OWA'] = (
    df_overall['sMAPE'] / 
    df_overall.loc['Naive2','sMAPE'] + 
    df_overall['MASE'] / 
    df_overall.loc['Naive2','MASE']
) / 2

In [11]:
df_overall.sort_values('OWA')

                             sMAPE   MASE       OWA
ARIMA - Standard for Comp.  12.669  1.666  0.902678
Naive2                      13.564  1.912  1.000000
auto_select                    NaN    NaN       NaN
avg_top_2                      NaN    NaN       NaN
avg_top_4                      NaN    NaN       NaN
avg_top_6                      NaN    NaN       NaN
avg_top_8                      NaN    NaN       NaN
elasticnet                     NaN    NaN       NaN
knn                            NaN    NaN       NaN
lightgbm                       NaN    NaN       NaN
mlp                            NaN    NaN       NaN
mlr                            NaN    NaN       NaN
sgd                            NaN    NaN       NaN
svr                            NaN    NaN       NaN
weighted_top_2                 NaN    NaN       NaN
weighted_top_4                 NaN    NaN       NaN
weighted_top_6                 NaN    NaN       NaN
weighted_top_8                 NaN    NaN       NaN
xgboost                        NaN    NaN       NaN

In [12]:
df_smape.sort_values('Avg')

,Hourly,Daily,Weekly,Monthly,Quarterly,Yearly,Avg
avg_top_4,13.300350,NaN,6.971702,NaN,NaN,NaN,10.136026
avg_top_6,13.302063,NaN,6.971505,NaN,NaN,NaN,10.136784
avg_top_8,13.304469,NaN,6.972633,NaN,NaN,NaN,10.138551
avg_top_2,13.319552,NaN,6.985012,NaN,NaN,NaN,10.152282
weighted_top_8,13.337885,NaN,6.991446,NaN,NaN,NaN,10.164666
weighted_top_6,13.344149,NaN,6.994252,NaN,NaN,NaN,10.169201
weighted_top_4,13.358293,NaN,6.998967,NaN,NaN,NaN,10.178630
weighted_top_2,13.352395,NaN,7.007183,NaN,NaN,NaN,10.179789
auto_select,13.394120,NaN,7.018052,NaN,NaN,NaN,10.206086
xgboost,12.663358,NaN,7.939700,NaN,NaN,NaN,10.301529
knn,11.783770,NaN,9.193136,NaN,NaN,NaN,10.488453
lightgbm,12.646549,NaN,8.626243,NaN,NaN,NaN,10.636396
mlr,15.812724,NaN,6.970394,NaN,NaN,NaN,11.391559
elasticnet,16.485414,NaN,7.558592,NaN,NaN,NaN,12.022003
mlp,15.240828,NaN,8.822237,NaN,NaN,NaN,12.031532
Naive2,18.383000,3.045,9.161000,14.427,11.012,16.342,12.061667
sgd,18.343483,NaN,7.776413,NaN,NaN,NaN,13.059948
svr,17.116689,NaN,14.500472,NaN,NaN,NaN,15.808580

In [13]:
df_mase.sort_values('Avg')

,Hourly,Daily,Weekly,Monthly,Quarterly,Yearly,Avg
weighted_top_8,0.887651,NaN,2.172838,NaN,NaN,NaN,1.530244
avg_top_8,0.886085,NaN,2.175077,NaN,NaN,NaN,1.530581
weighted_top_6,0.888135,NaN,2.173534,NaN,NaN,NaN,1.530834
avg_top_6,0.886119,NaN,2.176221,NaN,NaN,NaN,1.531170
weighted_top_4,0.889193,NaN,2.175232,NaN,NaN,NaN,1.532213
avg_top_4,0.886296,NaN,2.179310,NaN,NaN,NaN,1.532803
weighted_top_2,0.891680,NaN,2.178085,NaN,NaN,NaN,1.534883
auto_select,0.890430,NaN,2.182381,NaN,NaN,NaN,1.536405
avg_top_2,0.887925,NaN,2.191491,NaN,NaN,NaN,1.539708
mlr,0.914210,NaN,2.195848,NaN,NaN,NaN,1.555029
xgboost,1.154523,NaN,2.398739,NaN,NaN,NaN,1.776631
mlp,1.076552,NaN,2.791101,NaN,NaN,NaN,1.933827
lightgbm,1.120977,NaN,2.751099,NaN,NaN,NaN,1.936038
elasticnet,2.188061,NaN,2.291446,NaN,NaN,NaN,2.239753
knn,1.154268,NaN,3.481548,NaN,NaN,NaN,2.317908
Naive2,2.395000,3.278,2.777000,1.063,1.371,3.974,2.476333
svr,1.255212,NaN,7.033158,NaN,NaN,NaN,4.144185
sgd,8.630061,NaN,2.924966,NaN,NaN,NaN,5.777513

In [14]:
df_owa.sort_values('Avg')

,Hourly,Daily,Weekly,Monthly,Quarterly,Yearly,Avg
avg_top_8,0.546855,NaN,0.772184,NaN,NaN,NaN,0.659520
avg_top_6,0.546797,NaN,0.772329,NaN,NaN,NaN,0.659563
avg_top_4,0.546787,NaN,0.772896,NaN,NaN,NaN,0.659841
weighted_top_8,0.548091,NaN,0.772808,NaN,NaN,NaN,0.660449
weighted_top_6,0.548362,NaN,0.773086,NaN,NaN,NaN,0.660724
weighted_top_4,0.548968,NaN,0.773649,NaN,NaN,NaN,0.661309
avg_top_2,0.547650,NaN,0.775815,NaN,NaN,NaN,0.661732
weighted_top_2,0.549327,NaN,0.774612,NaN,NaN,NaN,0.661969
auto_select,0.550201,NaN,0.775978,NaN,NaN,NaN,0.663089
mlr,0.620949,NaN,0.775802,NaN,NaN,NaN,0.698375
xgboost,0.585459,NaN,0.865236,NaN,NaN,NaN,0.725348
lightgbm,0.577998,NaN,0.966150,NaN,NaN,NaN,0.772074
mlp,0.639286,NaN,0.984049,NaN,NaN,NaN,0.811668
knn,0.561482,NaN,1.128608,NaN,NaN,NaN,0.845045
elasticnet,0.905185,NaN,0.825118,NaN,NaN,NaN,0.865151
Naive2,1.000000,1.0,1.000000,1.0,1.0,1.0,1.000000
svr,0.727606,NaN,2.057747,NaN,NaN,NaN,1.392677
sgd,2.300608,NaN,0.951072,NaN,NaN,NaN,1.625840